@use './typography' as *;
@use './mixins' as *;
@use './fonts' as *;
@use './global' as*;

.header{
    background-color: #fff;
    padding: 1rem;
    border-bottom: 2px solid #e1e1e1;
    
    &__container{
        display: flex;
        // flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        @include tablet{
            width: 90%;
            margin: auto;
            flex-direction: row;
        }
        @include desktop{
            width: 80%;

        }
    }

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        // align-content: center;
    //     @include tablet{
    //         justify-content: baseline;
    //     }
    }
    &__logoIcon{
        height: 2rem;
    }
    &__contents{
        width: 100%;
        @include tablet{
            display: flex;
            // align-items: center;
            gap: 1rem;
        }
    }
    &__items{
        width: 100%;
        display: flex;
        margin: 1rem 0;
        // flex-wrap: wrap;
        // border-radius: 5px;
        justify-content: center;
        @include tablet{
            flex-direction: row;
            justify-content: right;
            margin: auto;
        }

    }
    &__profile{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        @include tablet{
            width: auto;
        }

    }
    &__mobileProfileImg, &__tabletProfileImg{
        border-radius: 50%;
        height: 2.15rem;
        width: 2.15rem;
    }
    &__mobileProfileImg{
        @include tablet{
            display: none;
        }
    }
    &__tabletProfileImg{
        display: none;
        @include tablet{
            display: block;
        }
    }
    &__searchStyling{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        border:2px solid #e1e1e1;
        border-radius: 4px;
        width: 90%;
        padding: 0.5rem 1rem;
        @include tablet{
            width: auto;
        }
    }
    &__searchIcon{
        height: 1rem;
    }
    &__search{
        min-height: 2rem;
        border-style: none;
    }
    &__uploadBtn{
        @extend .addComment__btn;
        width: 100%;
        // width: 90%;
        @include tablet{
            width: auto;
        }
        // display: block;
        
        // background-color: #0095ff;
        // border-style: none;
        // color: #fff;
        // border-radius: 5px;
        // padding: 1rem 3rem;
        // position: relative;
        // gap: 50px;
        // &:hover{
        //     background-color: #0065ad;
        // }
    }
    &__uploadIcon{
        @extend .addComment__btnIcon;
        // position: absolute;
        // left: 0.5rem;
        // height: 1.27rem;
        
    }
}