@use './mixins' as *;
@use './fonts' as *;

.video{

    &__nowPlaying{
        background-color: black;
        @include tablet{
            padding: 0 5%;
            // width: 90%;
            // margin: auto;

        }
        @include desktop{
            padding: 0 10%;
        }
    }
    &__vidPoster{
        width: 100%;
        height: auto;
        @include tablet{
            max-height: 80vh;
        }
    }
    &__infoContainer{
        margin: 1rem;
    //     @include desktop{
    //         width: 50%;
    //     }
    }
    &__info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0.5rem 0;
    }
    &__details{
        display: flex;
        flex-direction: column;
        @include tablet{
            flex-direction: row;
        }
    }
    &__views, &__likes{
        margin: 0.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
    }
    // &__viewIcon, &__likeIcon{
        //     position: absolute;
        //     left: -1.5rem;
        // }
    &__author, &__date, &__views, &__likes{
        margin: 0.2rem;

    }
    &__title, &__author{
        font-weight: 700;
    }
    &__desc{
        border-top: 2px solid #e1e1e1;
        padding: 1rem 0;
    }
}