@use '../styles/partials/typography' as *;
@use '../styles/partials/mixins.scss' as *;
@use '../styles/partials/fonts.scss' as *;

.upload{
    padding: 1rem;

    &__heading{
        padding: 1rem 0;
    }
    &__videoItems{
        @include tablet{
            padding: 1.5rem 0;
            border-top: 2px solid #e1e1e1;
            border-bottom: 2px solid #e1e1e1;
        }
    }
    &__thumbnail{
        color: #afafaf;
        font-weight: 700;

    }
    &__thumbnailImg{
        max-width: 100%;
        margin: auto;
        border-radius: 5px;
        @include tablet{
            max-width: 50%;
        }
    }
    &__form{
        // padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    &__formItem{
        @extend .upload__form;
        margin: 0.5rem 0;
    }
    &__vidTitle{
        color: #afafaf;
    }
    &__vidDesc{
        color: #afafaf;
    }
    &__formButtons{
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
        @include tablet{
            flex-direction: row;
            justify-content: flex-end;
        }
    }
    &__publishBtn{
        height: 3.5rem;
        text-transform: uppercase;
        background-color: #0095ff;
        border-style: none;
        color: #fff;
        border-radius: 5px;
        padding: 1rem 3rem;
        position: relative;
        gap: 50px;
        &:hover{
            background-color: #0065ad;
        }
        @include tablet{
            order: 1;
            margin: 0 1rem;
        }
    }
    &__publishBtnIcon{
        position: absolute;
        left: 0.5rem;
        height: 1.27rem;
    }
    &__cancelBtn{
        text-transform: uppercase;
        background-color: #fff;
        border: none;
        color: #0095ff;
        padding: 1rem 3rem;
    }
}