@use './styles/partials/global' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/mixins' as *;
@use './styles/partials/header' as *;
@use './styles/partials/mainVid' as*;
@use './styles/partials/nextVid' as*;
@use './pages/Upload' as*;

.app__desktopDisplay{
    @include desktop{
        width: 80%;
        margin: 2rem auto 0;
        display: flex;
        justify-content: flex-start;

    }
}

.vidAndCom{
    @include desktop{
        border-right: 2px solid #e1e1e1;
        width: 90%;

    }
}
